<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Titulo de la Web</title>

	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	
	<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"> -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

	<!-- Bootstrap  -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- Own css file  -->
	<link rel="stylesheet" href="{% static 'peluqueria/css/master.css' %}">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark techfont mynav" id='navbar'>
		<a class='navbar-brand mynav' href="{% url 'home' %}">Home</a>
		<ul class='nav navbar-nav navbar-right ml-auto'>
			<li><a class="nav-link" href="{% url 'create' %}">Reservar Turno</a></li>
		</ul>

	</nav>

	<div class="container-fluid">
		{% block content %}

		{% endblock %}
	</div>

</body>
<script src="{% static 'peluqueria/js/master.js'%}" type="text/javascript" ></script>
</html>
